@{
    ViewData["Title"] = "Login Page";
    Layout = null;
}

@model FinalTerm.Models.ForgetPasswordViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/ForgotPassword.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Griffy&display=swap" rel="stylesheet">
</head>

<body>
    <div class="forgot-password-container">
        <h2>Forgot Password</h2>
        <div class="forgot-password-box larger-box">
            <div class="input-group">
                <span class="icon">&#9993;</span>
                <input type="email" asp-for="Email" placeholder="Email" required>
                <button type="submit" class="btn send-otp larger-button">Send OTP</button>
            </div>
            <div class="input-group">
                <span class="icon">&#128274;</span>
                <input type="text" asp-for="OTP" placeholder="Enter Your OTP" required>
                <button type="submit" class="btn confirm larger-button">Confirm</button>
            </div>
        </div>
    </div>

</body>

</html>