@model FinalTerm.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Create New Password";
}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 400px;">
        <h3 class="text-center mb-3">Forgot Password</h3>

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success">@ViewBag.Message</div>
        }

        <form asp-action="ResetPassword" asp-controller="Account" method="post">
            <div class="form-group mb-3">
                <label asp-for="CurrentPassword"></label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" asp-for="CurrentPassword" class="form-control" placeholder="Password" />
                </div>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="NewPassword"></label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" asp-for="NewPassword" class="form-control" placeholder="Password" />
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ConfirmPassword"></label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
